.headerBox{
    color:#ffffff;
    background-color: #2da5f3;
}
.upperText{
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
}

.bottomText{
  display:flex;
  justify-content:space-around;
  flex-direction:row;
  align-items:center;
}