.footerBox {
  background-color: #000000;
  color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  top:55rem;
  position: fixed;
  bottom: 0;
}

.footerUpperText{
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
  font-size:2rem;
}

.footerBottomText{
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
  font-size:0.5rem;
}